body,html {
    font-family: 'Julius Sans One', sans-serif;
    background: #222;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    overflow-x:hidden;
}

.modal-open, body {overflow: inherit !important;}

.modal-open a {
    color:#222;
    padding: 30px;
}

.modal-open a:hover {
    color:red;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  /* background-color: transparent; */
  background:rgba(255,255,255,0.5);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  /* Full width */
}


/* Links inside the navbar */
.navbar a {
  /* float: left; */
  /* display: block; */
  color: #222;
  /* text-align: left; */
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  
  color: #fff;
}

.image {
    position: relative;
    overflow: hidden;
    height: 500px;
    padding: 0;
    margin-top: 0px;
    overflow: hidden;
    margin-bottom: 0px;
    transform: skew(0deg, -2deg);
    -ms-transform: skew(0deg, -1deg);
    -webkit-transform: skew(0deg, -2deg);

}

.image img {
    position: absolute;
    top: -240px;
    left: -100px;
    transform: skew(0deg, -2deg);
    -ms-transform: skew(0deg, -1deg);
    -webkit-transform: skew(0deg, -2deg);
}

h1 {
    text-align: center;
    color: #ccc;
    font-size: 3rem;
}


a {
  color: #fff;
}

a:hover {
    color: #fff;
}


h2 {
    text-align: center;
    color: #ccc;
    font-size: 3rem;
}

h3 {
    text-align: left;
    font-size: 3rem;
}


p {
    text-align: center;
    color: #ddd;
}

.modal-footer a {
    color: #000000;
}

.modal-footer a:hover {

    color: red;
}

.icon {
    transition: all .3s linear;
}

.icon:hover {
    -webkit-transform: scale(1.5); 
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    
}

.container-fluid {
    width: 100%;
    padding: 8rem 0;
}

.container-fluid:nth-child(1) {
    width: 100%;
    padding-top: 0;
    margin-top: 0px;
    padding-bottom: 0;
    margin-bottom: 0px;
    transform: skewY(2deg);
    height: 300px;
}

.container-fluid:nth-child(2) {
    background-color: tomato;
    transform: skewY(2deg);
}

.container-fluid:nth-child(2) .container {
    transform: skewY(-2deg);
}

.container-fluid:nth-child(2) h1 {
    color: #fff;
}

.container-fluid:nth-child(3) p {
    transform: translate(150px);
}

.container-fluid:nth-child(4) {
    background-color: #ccc;
    transform: skewY(-2deg);

}

.container-fluid:nth-child(4) h1 {
    color: #fff;
}

.container-fluid:nth-child(4) .container {
    transform: skewY(2deg);
}

.container-fluid:nth-child(6) {
    background-color: teal;
    position: relative;
    overflow: hidden;
    height:400px;
    padding: 0;
    margin-top: 0px;
    overflow: hidden;
    background:url('../img/banner.jpg') no-repeat;
    transform: skewY(2deg);
}

.container-fluid:nth-child(6) .container {
    
    transform: skewY(-2deg);
}

.container-fluid:nth-child(6) h1 {
    color: #fff;
}

.col-1 {
    height: 100px;
    background: orange;
}

.col-1:nth-child(odd) {
    background: yellow;
}

.col-6 {
    background: teal;
    height: 100px;
}

.col-3 {
    background: goldenrod;
    height: 100px;
}

.col-2 {
    background: brown;
    height: 100px;
}


.container-fluid:nth-child(5) .icon{
    padding-left: 100px;
        
        padding-top:20px;
}



.container-fluid:nth-child(5) h2{
    padding-left: 100px;
}

.container-fluid:nth-child(7) h2{
    padding-left: 100px;
}

.container-fluid:nth-child(7) .jumbotron{
    margin: 100px;
    background-color: #fff;
}

.container-fluid:nth-child(7) input{
    margin-left: 100px;
    width: 70%;
}


.container-fluid:nth-child(8) {
    background-color: #ccc;
    transform: skewY(-2deg);

}

.container-fluid:nth-child(8) h1 {
    color: #fff;
}

.container-fluid:nth-child(8) .container {
    transform: skewY(2deg);
}

.container-fluid:nth-child(9) .icon{
    padding-left: 100px;
        
        padding-top:20px;
}



.container-fluid:nth-child(9) h2{
    padding-left: 100px;
}